.is--seotext-content {     
    .unitize-margin(10, 0);
    clear: both;
}

.is--seotext-sidebar {     
    .unitize-margin(20, 0);
    clear: both;
}

.is--seotext-footer { 
    clear: both;
    
    .column--content { 
        .clearfix(); 
    }
    
    &.is--last { 
        .unitize(margin-top, -1);
    }    
}

@media screen and (min-width: @tabletViewportWidth) {    
    .footer-main .is--seotext-footer {         
        .unitize-margin(20, 0, 0);
        width: 100%;
        border-top: 1px solid @border-color;
        
        .column--content { 
            .unitize-margin(28, 0, 0); 
        }
        
        .column--headline + .column--content { 
            .unitize-margin(0, 0); 
        }       
    }
}

@media screen and (min-width: @desktopViewportWidth) {
    .footer-main .is--seotext-footer {
        .unitize-margin(20, 0, -15);   
    }
}