body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    font-weight: normal;
    overflow: hidden;
}

.navbar {
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #e7e8e9 100%);
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #e7e8e9 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%, #e7e8e9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e7e8e9', GradientType=0);
    padding: 9px 5px 3px;
    min-height: initial;
    height: 34px;
    border-bottom: 3px solid #1986D6;
}

.navbar .container {
    margin: 0;
    padding: 0;
}

.navbar-inverse .navbar-nav li {
    margin-right: 0.7em;
}

.navbar-inverse .navbar-nav li:first-child {
    margin-left: 0.7em;
}

.navbar-inverse .navbar-nav li a {
    height: 22px;
    border-radius: 5px 5px 0 0;
    color: #fff;
    text-shadow: 0 1px 0 #8190a3;
    padding: 2px 9px 3px 9px;
    background: #aebec8;
    background: -moz-linear-gradient(top, #aebec8 0%, #8099aa 100%);
    background: -webkit-linear-gradient(top, #aebec8 0%, #8099aa 100%);
    background: linear-gradient(to bottom, #aebec8 0%, #8099aa 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#aebec8', endColorstr='#8099aa', GradientType=0);
}

.navbar-inverse .navbar-nav li a:hover {
    background: #c5d0d8;
    background: -moz-linear-gradient(top, #c5d0d8 0%, #96abb9 100%);
    background: -webkit-linear-gradient(top, #c5d0d8 0%, #96abb9 100%);
    background: linear-gradient(to bottom, #c5d0d8 0%, #96abb9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c5d0d8', endColorstr='#96abb9', GradientType=0);
}

.navbar-inverse .navbar-nav li.active a {
    text-shadow: 0 1px 0 #0941e2;
    background: #2cb1f6;
    background: -moz-linear-gradient(top, #2cb1f6 0%, #1783d4 100%);
    background: -webkit-linear-gradient(top, #2cb1f6 0%, #1783d4 100%);
    background: linear-gradient(to bottom, #2cb1f6 0%, #1783d4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2cb1f6', endColorstr='#1783d4', GradientType=0);
}

.theme-showcase {
    /*    border: 1px solid #A4B5C0;*/
    width: 100%;
    margin: 0;
    margin-top: 34px;
    padding: 0 0 50px 0;
}

.navbar-collapse {
    display: block!important;
    border-top: none !important;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-nav {
    margin: 0 !important;
}

.navbar-nav > li,
.navbar-nav {
    float: left !important;
}

.navbar-right {
    float: right !important;
}

.navbar-toggle {
    display: none !important;
}

#links_filter > label,
#keywords_filter > label,
#exkeywords_filter > label {
    color: transparent;
    position: absolute;
    top: -28px;
    right: 5px;
}

#links_filter > label > input,
#keywords_filter > label > input,
#exkeywords_filter > label > input {
    height: 22px;
    border-radius: 11px;
    border: 1px solid #A4B5C0;
    color: #6c818f;
    font-size: 11px;
    font-weight: normal;
    padding: 0 15px 0 25px;
    background: url("../img/search.png") no-repeat;
    background-color: #fff;
    background-position: 7px 3px;
}

.icons {
    background: url("../img/core-icon-set-new.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 9px;
}

.plus-circle-frame {
    background-position: -36px 0px;
}

.minus-circle-frame {
    background-position: -36px -36px;
}

#load_default_keywords {
    height: 28px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    color: #475c6a;
    font-weight: normal;
    font-size: 11px;
    position: relative;
    padding: 0 10px 0 10px;
    line-height: 10px;
    background: #fcfdfe;
    background: -moz-linear-gradient(top, #fcfdfe 0%, #cdd8e4 100%);
    background: -webkit-linear-gradient(top, #fcfdfe 0%, #cdd8e4 100%);
    background: linear-gradient(to bottom, #fcfdfe 0%, #cdd8e4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcfdfe', endColorstr='#cdd8e4', GradientType=0);
}

.top-button {
    height: 28px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    color: #475c6a;
    font-weight: normal;
    font-size: 11px;
    position: relative;
    padding: 0 10px 0 30px;
    line-height: 10px;
    background: #fcfdfe;
    background: -moz-linear-gradient(top, #fcfdfe 0%, #cdd8e4 100%);
    background: -webkit-linear-gradient(top, #fcfdfe 0%, #cdd8e4 100%);
    background: linear-gradient(to bottom, #fcfdfe 0%, #cdd8e4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcfdfe', endColorstr='#cdd8e4', GradientType=0);
}

.top-button:hover,
#load_default_keywords:hover {
    background: #fcfdfe;
    background: -moz-linear-gradient(top, #fcfdfe 0%, #b8cfe8 100%);
    background: -webkit-linear-gradient(top, #fcfdfe 0%, #b8cfe8 100%);
    background: linear-gradient(to bottom, #fcfdfe 0%, #b8cfe8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcfdfe', endColorstr='#b8cfe8', GradientType=0);
}

.top-toolbar {
    background: #ebedef;
    padding: 3px 0 3px 3px;
    border-bottom: 1px solid #A4B5C0;
    height: 35px;
    white-space: nowrap;
}

.top-description {
    position: relative;
    padding: 5px 4px 4px 5px;
    text-shadow: 1px 1px 0 #fff;
    line-height: 17px;
    color: #475c6a;
    border-bottom: 1px solid #A4B5C0;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #e7e8e9 100%);
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #e7e8e9 100%);
    background: linear-gradient(to bottom, #f7f7f7 0%, #e7e8e9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e7e8e9', GradientType=0);
}

.table-left {
    display: inline-block;
    width: 20%;
    float: left;
    overflow: hidden;
    position: relative;
}

.table-right {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    float: left;
    border-left: 2px solid #A4B5C0;
    overflow: hidden;
    position: relative;
}

#links,
#keywords,
#exkeywords,
#list_hook {
    border-bottom: none;
    margin: 0;
}

#exkeywords {
    width: 100% !important;
}

#links thead,
#keywords thead,
#exkeywords thead,
#list_hook thead {
    background-image: none;
    background-color: #c5c5c5;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #e3e4e6));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #e3e4e6);
    background-image: -moz-linear-gradient(top, #f9f9f9, #e3e4e6);
    background-image: -o-linear-gradient(top, #f9f9f9, #e3e4e6);
    background-image: linear-gradient(top, #f9f9f9, #e3e4e6);
    border-bottom: 1px solid #fff;
}

#links th,
#keywords th,
#exkeywords th,
#list_hook th {
    color: #475c6a;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    font: normal 11px Arial, Verdana, sans-serif;
    border-left: 1px solid #c8cdd2;
    border-right: 1px solid #fff;
    border-bottom: none;
    vertical-align: middle;
    padding: 6px 6px 3px 6px;
    line-height: 13px;
    height: 16px;
}

#links th:first-child,
#keywords th:first-child,
#exkeywords th:first-child,
#list_hook th:first-child {
    border-left: none;
}

#links tbody tr,
#keywords tbody tr,
#exkeywords tbody tr,
#list_hook tbody tr {
    vertical-align: top;
}

#links tbody tr.even,
#keywords tbody tr.even,
#exkeywords tbody tr.even,
#list_hook tbody tr.even {
    background-color: #f3f5f7;
}

#links tbody tr.odd,
#keywords tbody tr.odd,
#exkeywords tbody tr.odd,
#list_hook tbody tr.odd {
    background-color: #fff;
}

#links td,
#keywords td,
#exkeywords td,
#list_hook td {
    color: #475c6a;
    border-bottom: 1px solid #cdd6dc;
    line-height: 13px;
    padding: 3px 6px 3px 6px;
    height: 16px;
    text-align: left;
    border-top: none;
}

#links td .fa-close {
    color: #D34744;
}

#links td .fa-check {
    color: #6EB335;
}

#links td .fa-pencil {
    background: url("../img/core-icon-set-new.png") no-repeat;
    background-position: -36px -216px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

#links td .fa-pencil:before {
    display: none;
}

#links_paginate,
#keywords_paginate,
#exkeywords_paginate {
    float: left;
    padding-top: 7px;
}

#links_length,
#keywords_length,
#exkeywords_length {
    float: right;
}

#links_paginate .paginate_button,
#keywords_paginate .paginate_button,
#exkeywords_paginate .paginate_button {
    height: 18px;
    width: 18px;
    padding: 0;
    line-height: 16px;
}

#links_paginate > span,
#keywords_paginate > span,
#exkeywords_paginate > span {
    border-right: 1px solid #AEB7BD;
    border-left: 1px solid #AEB7BD;
    padding: 2px 10px;
}

#links_paginate .previous,
#keywords_paginate .previous,
#exkeywords_paginate .previous {
    background: url('../img/sprite-arrows.png') no-repeat;
    background-position: 0 -66px;
    text-indent: -9999px;
    margin: 0 7px 0 0;
}

#links_paginate .next,
#keywords_paginate .next,
#exkeywords_paginate .next {
    background: url('../img/sprite-arrows.png') no-repeat;
    background-position: 0 -462px;
    text-indent: -9999px;
    margin: 0 0 0 7px;
}

#links_paginate .previous.disabled,
#keywords_paginate .previous.disabled,
#exkeywords_paginate .previous.disabled {
    background-position: 0 0;
    opacity: 0.5;
}

#links_paginate .next.disabled,
#keywords_paginate .next.disabled,
#exkeywords_paginate .next.disabled {
    background-position: 0 -396px;
    opacity: 0.5;
}

#links_length,
#keywords_length,
#exkeywords_length {
    padding: 7px 12px 0 0;
}

#links_length label,
#keywords_length label,
#exkeywords_length label {
    font-weight: bold;
    color: #475c6a;
    text-shadow: 0 1px 0 #fff;
}

#links_length select,
#keywords_length select,
#exkeywords_length select {
    background: transparent;
    padding: 5px;
    line-height: 1;
    -webkit-appearance: none;
    overflow: hidden;
    background: url('../img/select-arrow.png') no-repeat right;
    background-color: #fff;
    width: 61px;
    height: 22px;
    font-weight: normal;
    border-color: #a6b0b7;
    border-top-color: rgb(166, 176, 183);
    border-right-color: #d9dee2;
    border-bottom-color: #d9dee2;
    border-left-color: rgb(166, 176, 183);
    border-bottom-color: #d9dee2;
    border-right-color: #d9dee2;
    color: #495D6B;
    padding: 2px 6px;
    font-size: 11px;
}

#keywords .coju_add_to_link {
    background: url("../img/core-icon-set-new.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: -36px 0px;
    cursor: pointer;
}

#keywords .coju_exclude_keyword {
    background: url("../img/core-icon-set-new.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: -36px -36px;
    cursor: pointer;
}

#keywords .coju_add_to_link:before,
#keywords .coju_exclude_keyword:before {
    display: none;
}

.bottom-toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #EBEDEF;
    border-top: 1px solid #A4B5C0;
    z-index: 100;
}

.bottom-toolbar-left {
    position: fixed;
    bottom: 0;
    width: 70%;
    background: #EBEDEF;
    border-top: 1px solid #A4B5C0;
    z-index: 100;
}

.bottom-toolbar-right {
    position: fixed;
    bottom: 0;
    width: 30%;
    background: #EBEDEF;
    border-top: 1px solid #A4B5C0;
}

.dataTables_info {
    display: none;
}

.panel-trigger,
.panel-display {
    display: none;
}

.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper tbody {
    display: table-row-group;
    vertical-align: middle;
}


/*** DETAIL VIEW ***/

.detail {
    overflow-y: auto;
    background-color: #f5f5f5;
}

.detail .theme-showcase {
    margin: 0;
    padding: 0;
}

.detail .panel-footer {
    padding: 20px 10px;
}

.detail .panel-footer input {
    border-radius: 3px;
    color: #668498;
    padding: 2px 6px;
    font-size: 11px;
    height: 24px;
    border: 1px solid #D9DEE2;
    background-color: #fff;
    line-height: 15px;
}

.detail .link-info,
.detail .link-rel,
.detail .link-dest {
    border: 1px solid #ced4d8;
    position: relative;
    margin-bottom: 20px;
    padding: 20px 10px;
    clear: both;
    min-height: 134px;
}

.detail .link-info {
    min-height: 135px;
}

.detail .link-rel {
    min-height: 100px;
}

.detail .link-dest {
    min-height: 90px;
}

#form-link-detail legend {
    border-bottom: none;
    font-size: 13px;
    color: #61677F;
    width: 130px;
    padding-left: 10px;
    margin-bottom: 0;
}

#form-link-detail .link-rel legend {
    width: 80px;
}

.detail .link-info .col1,
.detail .link-info .col2 {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.detail .link-dest .col1,
.detail .link-dest .col2,
.detail .link-dest .col3 {
    width: 33%;
    float: left;
    margin-bottom: 10px;
}

.detail .link-info .checkboxes input,
.detail .link-dest input {
    width: 15px;
    display: inline-block;
    margin-top: 0px;
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}

.detail .link-info input {
    width: 71%;
}

.detail .link-info label {
    width: 24%;
}

.detail .link-dest label {
    width: 70%;
}

.detail .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    height: 26px;
    top: -9px;
    border: 1px solid #B6B7B8;
}

#relevance {
    border: 0;
    color: #1B8CDB;
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: center;
    background: transparent;
    margin-bottom: 5px;
    font-size: 12px;
}

#abort,
#go-save {
    border-radius: 4px;
    border: 0;
    margin: 0 5px;
    padding: 2px 25px;
    line-height: 25px;
    color: #fff;
    font-weight: normal;
    text-shadow: 0px 1px 1px #475c6a;
    font-size: 12px;
}

#abort {
    background: #b1c0cb;
    background: -moz-linear-gradient(top, #b1c0cb 0%, #829aab 100%);
    background: -webkit-linear-gradient(top, #b1c0cb 0%, #829aab 100%);
    background: linear-gradient(to bottom, #b1c0cb 0%, #829aab 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b1c0cb', endColorstr='#829aab', GradientType=0);
}

#go-save {
    background: #2db2f7;
    background: -moz-linear-gradient(top, #2db2f7 0%, #1783d5 100%);
    background: -webkit-linear-gradient(top, #2db2f7 0%, #1783d5 100%);
    background: linear-gradient(to bottom, #2db2f7 0%, #1783d5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2db2f7', endColorstr='#1783d5', GradientType=0);
}


/*** TABLE SLIDE MODE ***/

body.table-slide {
    overflow-y: auto;
}

.table-slide .wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
}

.table-slide .wrapper tbody {
    display: table-row-group;
    vertical-align: middle;
}

.table-slide .panel-display {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 30;
    display: block;
    background: #f4f8fd;
    background: -moz-linear-gradient(left, #f4f8fd 0%, #e6e6e8 100%);
    background: -webkit-linear-gradient(left, #f4f8fd 0%, #e6e6e8 100%);
    background: linear-gradient(to right, #f4f8fd 0%, #e6e6e8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f4f8fd', endColorstr='#e6e6e8', GradientType=1);
}

.table-slide .panel-trigger {
    background: url("../img/tool-sprites.png") no-repeat;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.table-slide .wrapper {
    overflow-x: auto;
    overflow-y: auto;
    height: auto;
}

.table-slide .wrapper tbody {
    display: table-row-group;
    vertical-align: middle;
}

.table-slide .panel-display.right {
    right: 0;
    border-left: 2px solid #A4B5C0;
}

.table-slide .panel-display.left {
    left: 0;
    display: none;
    border-right: 2px solid #A4B5C0;
}

.table-slide .panel-display.right .panel-trigger {
    background-position: 0 -180px;
}

.table-slide .panel-display.left .panel-trigger {
    background-position: 0 -165px;
}

.table-slide .container {
    position: relative;
}

.table-slide .table-left,
.table-slide .table-right {
    display: block;
    position: absolute;
    float: none;
}

.table-slide .table-right {
    width: 0;
    right: 0;
    z-index: 1;
    border-left: none;
}

.table-slide .table-left {
    width: 100%;
    z-index: 10;
    left: 0;
}

.table-slide .bottom-toolbar-left,
.table-slide .bottom-toolbar-right {
    width: 100%;
    z-index: 40;
}

.table-slide .panel-text {
    transform: rotate(90deg);
    transform-origin: 0% 100%;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 12px;
    color: #475c6a;
    top: -10px;
    position: relative;
    display: block;
    width: 160px;
}

.table-slide .table-right #keywords,
.table-slide .table-right .top-description {
    margin-left: 30px;
}

.table-slide .table-left #links {
    padding-right: 30px;
}

@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0;
    }
}

.coju_load_metrics {
    cursor: help;
}


/*** CONFIG VIEW ***/

.border-wrapper {
    display: inline-block;
    border: 2px solid #d6dce1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: #d6dce1;
    margin-right: 3px;
}

#config-view select {
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border: 1px solid;
    background-color: white;
    border-color: #a6b0b7;
    border-bottom-color: #d9dee2;
    border-right-color: #d9dee2;
    color: #668498;
    padding: 2px 6px;
    font-size: 11px;
    height: 24px;
    cursor: pointer;
    font-weight: 300;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #config-view select {
        padding-right: 18px
    }
}

#config-view label {
    position: relative;
    margin-bottom: 0;
}

#config-view label:after {
    content: '';
    right: 0px;
    top: 0;
    position: absolute;
    pointer-events: none;
    background-image: url('../img/dropdown.png');
    background-repeat: no-repeat;
    border-top: 1px solid #a6b0b7;
    border-right: 1px solid #c2c9ce;
    border-left: 1px solid #d9dee2;
    border-bottom: 0 none;
    background-position: 0 0;
    width: 20px;
    height: 23px;
}

span.text {
    font-weight: bold;
    color: #475c6a;
    margin-right: 5px;
    text-shadow: 0 1px 0 #fff;
}

#input_hook_value,
#name_field {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border: 1px solid;
    background-color: white;
    border-color: #a6b0b7;
    border-bottom-color: #d9dee2;
    border-right-color: #d9dee2;
    color: #668498;
    padding: 2px 6px;
    font-size: 11px;
    height: 24px;
    width: 130px;
}

#list_hook {
    padding-left: 0;
    list-style: none;
}

#list_hook li {
    padding: 2px 6px 6px 6px;
    border-bottom: 1px solid #cdd6dc;
}

#list_hook .coju_hook_delete {
    background: url(../img/core-icon-set-new.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-position: -36px -36px;
    cursor: pointer;
    position: relative;
    top: 0;
}