{extends file="parent:backend/_base/layout.tpl"}

{block name="content/main"}
    
    <div class="table-responsive">
		<div class="table-left">
			
			
			{include file="backend/on_page/sidebar.tpl"}
			
		</div>
		<div class="table-right">
			
			
			<h2>Hersteller</h2>
			
			<input id="index_supplier" name="index_supplier" type="checkbox" value="1" />
			<label for="index_supplier" >Alle Hersteller deaktivieren</label>
			
			<h2>Kategorien</h2>
			
			<input id="index_categories" name="index_categories" type="checkbox" value="1" />
			<label for="index_categories" >Alle Karegorien deaktivieren</label>
			
			
		</div>
    </div>
	
{/block}

{block name="content/javascript"}
   
	
	<script type="text/javascript">

		
    </script>
{/block}